{% include 'superadmin/layouts/header.html' %}
 

  <!--app-content open-->
            <div class="main-content app-content mt-0">
                <div class="side-app">

                    <!-- CONTAINER -->
                    <div class="main-container container-fluid">

                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">Leads</h1>
                            <div>
                                <a class="btn btn-primary" href="{% url 'superadmin:leadscreate' %}"><i class="side-menu__icon fe fe-plus mx-1"></i>Add New</a>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->

                         <!-- ROW OPEN -->
                        <div class="row">
                             <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">List Of All Leads</h3>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="search-container">
                                                <input type="text" class="search-input" placeholder="Keyword Search" id="searchkey">
                                                <input type="text" class="search-input" placeholder="To" id="to">
                                                <div class="reset-icon" onclick="window.location.reload()">&#x21bb;</div>
                                                <button type="button" onclick="filtercategory(1)" id="import_submit" class="search-button">Search</button>
                                            </div>
                                        </form>	
                                        <div class="table-responsive">
											
                                            {% include 'superadmin/leads/leads-table.html' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW CLOSED -->
					</div>
                    <!-- CONTAINER END -->
                </div>
            </div>
            <!--app-content close-->
	

             <div class="modal  fade" id="modaldemo5-verify" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md modal-dialog-centered text-center" role="document">
            <div class="modal-content ">
                
                <div class="modal-body">
                    <button aria-label="Close" class="btn-close position-absolute" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <i class="icon icon-close fs-70 text-success lh-1 my-5 d-inline-block"></i>
                    <h4 class="text-success">Are You Sure Do You Want To Verify This amount ?</h4>
                    <input type="hidden" id="hid">
                    <button class="btn btn-success" onclick="verifywallet()">Yes</button>
                    <button aria-label="Close" class="btn btn-danger pd-x-25" data-bs-dismiss="modal">Cancel</button>
                </div>
                <div class="modal-footer">
                    
                   
                </div>
            </div>
        </div>
    </div>	



    {% include 'superadmin/layouts/footer.html' %}
  
   