{% load static %}
<!doctype html>
<html lang="en" dir="ltr">
 <head>
  <!-- META DATA -->
  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- FAVICON -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'superadmin/assets/images_ex/fav.svg' %}" />
  <!-- TITLE -->
  <title>Fahrchule Admin | Login</title>
  <!-- BOOTSTRAP CSS -->
  <link id="style" href="{% static 'superadmin/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

  
  <!-- STYLE CSS -->
  <link href="{% static 'superadmin/assets/css/style.css' %}" rel="stylesheet" />
  <link href="{% static 'superadmin/assets/css/style-custom.css' %}" rel="stylesheet" />
  <link href="{% static 'superadmin/assets/css/dark-style.css' %}" rel="stylesheet" />
  <link href="{% static 'superadmin/assets/css/transparent-style.css' %}" rel="stylesheet">
  <link href="{% static 'superadmin/assets/css/skin-modes.css' %}" rel="stylesheet" />
  <!--- FONT-ICONS CSS -->
  <link href="{% static 'superadmin/assets/css/icons.css' %}" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


  <!-- COLOR SKIN CSS -->
  <link id="theme" rel="stylesheet" type="text/css" media="all" href="{% static 'superadmin/assets/colors/color1.css' %}" />
 </head>
 <body class="app sidebar-mini ltr login-img" style="background-image: url('{% static 'superadmin/assets/images_ex/banner.png' %}');"
>
  <!-- BACKGROUND-IMAGE -->
  <div style="position: absolute; top: 20px; left: 20px; z-index: 1050;">
  <a href="/">
    <img src="{% static 'superadmin/assets/images_ex/logo.svg' %}" alt="Logo" style="height: 50px;">
  </a>
</div>




 

<style>
  .container-login100{
    justify-content: right !important;
  }
  .wrap-login100{
    background: transparent;
    border: 0;
    box-shadow: none;
  }
  .container-login100
 {
    justify-content: right !important;
    background: #fff;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    width: 50%;
    margin-left: auto;
}

.carousel-item img {
    width: 100% !important;
    height: 400px;
    object-fit: cover;
}
</style>

  <div class="">
   <!-- PAGE -->
   <div class="page">
    <div class="">
     <!-- CONTAINER OPEN -->
     <div class="container-login100" style="background: #fff;">

          <div class="row">
        <!-- Left side: Image Slider -->
<div class="col-md-6 d-none d-md-block">
  <div id="loginCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner ">
      <div class="carousel-item active">
        <img src="https://specials-images.forbesimg.com/imageserve/602ec05ef215fafffd25fbd9/960x0.jpg?fit=scale" class="d-block w-100" alt="Slide 1">
      </div>
      <div class="carousel-item">
        <img src="https://th.bing.com/th/id/OIP.PomUT4zzniCUkt9LhCVLKgHaE7?w=800&h=533&rs=1&pid=ImgDetMain" class="d-block w-100" alt="Slide 2">
      </div>
      <div class="carousel-item">
        <img src="https://www.slideteam.net/wp/wp-content/uploads/2020/07/Microsoft-UI-imternal-1-1001x559.png" class="d-block w-100" alt="Slide 3">
      </div>
    </div>
  </div>
</div>

    <div class="col-lg-6">
        <div class="wrap-login100 p-6">
       <div class="col col-login mx-auto m-5">
	   
        <div class="text-center">   
            <h3>Login</h3>
			 <!-- <a href="index.php">
			  <img src="{% static 'superadmin/assets/images_ex/logo.svg' %}" class="header-brand-img1" alt="">
			 </a> -->
        </div>
		
       </div>
	   
       <form class="login100-form validate-form" method="post">
        {% csrf_token %}
        <div class="wrap-input100 validate-input input-group">
			 <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
			  <i class="zmdi zmdi-email text-muted" aria-hidden="true"></i>
			 </a>
			 <input class="input100 border-start-0 form-control ms-0" type="email" placeholder="username" required name="username" value="{{username}}">
        </div>

        <div class="wrap-input100 validate-input input-group" id="Password-toggle">
			 <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
			  <i class="zmdi zmdi-eye text-muted" aria-hidden="true"></i>
			 </a>
			 <input class="input100 border-start-0 form-control ms-0" type="password" placeholder="password" required name="password" value="{{password}}">
        </div>
        <div class="wrap-input100 validate-input input-group" id="Password-toggle">
			 <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
			  <i class="zmdi zmdi-account-box text-muted" aria-hidden="true"></i>
			 </a>
			 <input class="input100 border-start-0 form-control ms-0" type="text" placeholder="Client ID"  name="clientid" value="{{clientid}}">
        </div>
				 {% if messages %}
<div id="message_div" class="succs-msg">
    {% for message in messages %}
        <label class="form-group" >
            <p style="color:red;">{{message}}</p>
        </label>
    {% endfor %}
</div>
{% endif %}
        <div class="container-login100-form-btn">
			<button type="submit" class="login100-form-btn btn-primary"> Login </button>
        </div>
		
       </form>
      </div>
    </div>
</div>






     </div>
     <!-- CONTAINER CLOSED -->
    </div>
   </div>
   <!-- End PAGE -->
  </div>
  <!-- BACKGROUND-IMAGE CLOSED -->
  <!-- JQUERY JS -->




  <script src="{% static 'superadmin/assets/js/jquery.min.js' %}"></script>
  <!-- BOOTSTRAP JS -->
  <script src="{% static 'superadmin/assets/plugins/bootstrap/js/popper.min.js' %}"></script>
  <script src="{% static 'superadmin/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>


  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <!-- SHOW PASSWORD JS -->

  <script src="{% static 'superadmin/assets/js/show-password.min.js' %}"></script>
  <!-- GENERATE OTP JS -->
  <script src="{% static 'superadmin/assets/js/generate-otp.js' %}"></script>
  <!-- Perfect SCROLLBAR JS-->
  <script src="{% static 'superadmin/assets/plugins/p-scroll/perfect-scrollbar.js' %}"></script>
  <!-- Color Theme js -->
  <script src="{% static 'superadmin/assets/js/themeColors.js' %}"></script>
  <!-- CUSTOM JS -->
  <script src="{% static 'superadmin/assets/js/custom.js' %}"></script>
  
  
 </body>
</html>