{% include 'superadmin/layouts/header.html' %}
 
  <!--app-content open-->
            <div class="main-content app-content mt-0">
                <div class="side-app">

                    <!-- CONTAINER -->
                    <div class="main-container container-fluid">

                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">Refunds</h1>
                            <div>
                                <!-- <a class="btn btn-primary" href="{% url 'superadmin:agentscreate' %}"><i class="side-menu__icon fe fe-plus mx-1"></i>Add New</a> -->
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->

                         <!-- ROW OPEN -->
                        <div class="row">
                             <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">List Of All Refunds</h3>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="row">
                                                <div class="form-group col-lg-2 col-12">
                                                    <input type="date" class="form-control" placeholder="Keyword Search" id="fromdate">
                                                </div>
                                                 <div class="form-group col-lg-2 col-12">
                                                    <input type="date" class="form-control" placeholder="Keyword Search" id="todate">
                                                </div>
                                                
                                                <div class="form-group col-lg-2 col-12">
                         
                                              </div>
                                                    
                                                    <div class="form-group col-lg-3 col-12">
                                                        <a class="btn btn-primary mr-1" href="javascript:void(0)" id="import_submit" onclick="filterledger(1)">Search</a>
                                                         <a class="btn btn-default" href="" >Reset</a>
                                                    </div>
                                                    
                                            </div>
                                            </form>	
                                            <div class="mb-3">
    <a href="{% url 'superadmin:download_excel' %}" class="btn btn-success text-end">Download Excel</a>
    {% comment %} <a href="{% url 'superadmin:download_pdf' %}" class="btn btn-danger">Download PDF</a> {% endcomment %}
</div>
                                        <div class="table-responsive">
											
                                            {% include 'superadmin/refund/refund-table.html' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW CLOSED -->
					</div>
                    <!-- CONTAINER END -->
                </div>
            </div>
            <!--app-content close-->
	

   <div class="modal  fade" id="modaldemo5-verify" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md modal-dialog-centered text-center" role="document">
            <div class="modal-content ">
                
                <div class="modal-body">
                    <button aria-label="Close" class="btn-close position-absolute" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <i class="icon icon-check fs-70 text-success lh-1 my-5 d-inline-block"></i>
                    <h4 class="text-success">Are You Sure Do You Want To Verify This amount ?</h4>
                    <input type="hidden" id="hid">
                    <button class="btn btn-success" onclick="verifywallet()">Yes</button>
                    <button aria-label="Close" class="btn btn-danger pd-x-25" data-bs-dismiss="modal">Cancel</button>
                </div>
                <div class="modal-footer">
                    
                   
                </div>
            </div>
        </div>
    </div>	

    {% include 'superadmin/layouts/footer.html' %}
  
   