{% include 'superadmin/layouts/header.html' %}
 
  <!--app-content open-->
            <div class="main-content app-content mt-0">
                <div class="side-app">

                    <!-- CONTAINER -->
                    <div class="main-container container-fluid">

                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">Cash Receipt</h1>
                            <div>
                                <a class="btn btn-primary" href="{% url 'superadmin:cashrecieptlist' %}"><i class="side-menu__icon fe fe-eye mx-1"></i>View All</a>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->

                         <!-- ROW OPEN -->
                         <form method="post" enctype="multipart/form-data" id="myForm">
                            {% csrf_token %}
                        <div class="row">
                            
						<div class="col-md-8 col-xl-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        
                                            <div class="row">

                                                <div class="form-group col-lg-6">
                                                    <label for="exampleInputEmail1" class="form-label">Agency Name</label>
                                                     <select class="form-control select2" data-placeholder="Choose Agency" required name="agent">
                                                        <option value="">Select</option>
                                                        {% for i in agents %}
                                                            <option value="{{i.id}}" {% if data.agent.id == i.id %}selected{% endif %}>{{i.name}}</option>
                                                        {% endfor %}
													</select>

                                                </div>
                         
                                                <div class="form-group col-lg-6">
                                                    <label for="exampleInputEmail1" class="form-label">Payment Type</label>
                                                     <select class="form-control select2" data-placeholder="Choose Payment Type" required name="paymenttype">
                                                        <option value="">Select</option>
                                                        <option value="Bank transfer">Bank transfer</option>
                                                        <option value="Cash Deposit">Cash Deposit</option>
                                                        <option value="Tabby">Tabby</option>
                                                        <option value="Payment link">Payment link</option>
                                                        <option value="Credit Card">Credit Card</option>
                                                        <option value="By Cash">By Cash</option>

													</select>

                                                </div>
                                                   
                                                    <div class="form-group col-lg-6">
                                                        <label for="exampleInputEmail1" class="form-label">Received From</label>
                                                        <input type="text" name="receivedfrom"  id="" class="form-control" placeholder="Received From" value="{{data.receivedfrom}}" required >

                                                    </div>
                                                    <div class="form-group col-lg-6">
                                                        <label for="exampleInputEmail1" class="form-label">Mobile Number</label>
                                                    <input type="text" maxlength="10" name="phone" required id="" class="form-control" placeholder="Mobile Number" value="{{data.phone}}" onkeypress="return restrictAlphabets(event)" >

                                                    </div>
                         
                                                <div class="form-group col-lg-6">
                                                    <label for="exampleInputEmail1" class="form-label">Amount</label>
                                                    <input type="text" name="amount" required id="" class="form-control" placeholder="Amount" value="{{data.amount}}" >

                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <label for="exampleInputEmail1" class="form-label">Description</label>
                                                    <textarea  name="description" required id="" class="form-control" placeholder="Description" >{{data.description}}</textarea>

                                                </div>
                         
                                                
                   
												
											<div class="form-group col-lg-12 col-12">
                                                <button type="submit" class="btn btn-primary mt-4 mb-0" id="submitButton" >Submit</button>
                                                <a href="" class="btn btn-default mt-4 mb-0"  >Reset</a>
											</div>
											
                                    </div>
                                </div>
                           
                        </div>
                        <!-- ROW CLOSED -->



                    </div>
                </form>
                    <!-- CONTAINER END -->
                </div>
            </div>
            </div>
            <!--app-content close-->
			<script>
                function calculations(){
                    var netamount = document.getElementById("netamount").value;
                    var grossamount = document.getElementById("grossamount").value;
                    var markup = document.getElementById("markup").value;
                    if (grossamount != "" && netamount != ""){
                        markup = parseFloat(grossamount) - parseFloat(netamount)
                        document.getElementById("markup").value = markup;
                    }
                    if (netamount != "" && markup != ""){
                    grossamount = parseFloat(netamount) + parseFloat(markup)
                    document.getElementById("grossamount").value = grossamount;
                    }

                }
                function calculationsgross(){
                    var netamount = document.getElementById("netamount").value;
                    var markup = document.getElementById("markup").value;

                    grossamount = parseFloat(netamount) + parseFloat(markup)
                    document.getElementById("grossamount").value = grossamount;
                    

                }
                function calculationsmarkup(){
                    var netamount = document.getElementById("netamount").value;
                    var grossamount = document.getElementById("grossamount").value;
                    markup = parseFloat(grossamount) - parseFloat(netamount)
                    document.getElementById("markup").value = markup;
                    

                }


                function airticket(val){
                    if (val === "AIR TICKETS") {
                        document.getElementById("airticket_div").style.display = "";
                        document.getElementById("passport_div").style.display = "none";

                        document.getElementById("passportno").required=false;
                    }else if(val == "UAE VISA 30 DAYS" || val == "UAE VISA 60 DAYS" || val == "UAE TRANSIT VISA" || val == "GLOBAL VISA" || val == "VISA CHANGE BY BUS" || val == "VISA CHANGE BY FLIGHT"){
                        document.getElementById("passport_div").style.display = "";
                        document.getElementById("passportno").required=true;
                    }
                     else {
                        document.getElementById("passportno").required=false;

                        document.getElementById("passport_div").style.display = "none";

                        document.getElementById("airticket_div").style.display = "none";
                    }

                    const airticketDiv = document.getElementById("airticket_div");
                    const inputs = airticketDiv.querySelectorAll("input, select, textarea");
                    

                   const div = document.getElementById('airticket_div');

    if (val === 'AIR TICKETS') {
        inputs.forEach(el => el.required = true);
        div.style.display = 'flex'; // or 'block' if it's not using bootstrap grid
        // Reinitialize select2 for any new selects inside the div
        $(div).find('select').select2();
    } else {
        inputs.forEach(el => el.required = false);
        div.style.display = 'none';
    }


                }
            </script>
            {% include 'superadmin/layouts/footer.html' %}
